@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#top{
    background-color: #303c98;
    display: flex;
    align-items: center;
    padding: 20px 100px;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    color: #fff;
    position: static;
    top: 0px;
}
#top h3{
    font-size: 16px;
}
#header{
    display: flex;
     
    align-items: center;
    padding: 20px 60px;
    top: 60px;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    color: #303c98;
    position: static;
  
}
#header img{
    margin-left: 30px;
}
#h1{
    margin-right: 670px;
    font-weight: 500;
    font-size: 20px;

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}
#navbtn{
    padding-left: 40px;
    border: 2px solid #303c98;
    background: none;
    padding: 5px 10px;
    border-radius: 30px;
    color: black;
    margin-left: 30px;
    align-items: center;
    transition: .5s;
}
#navbtn:hover{
    background-color: #303c98;
    color: #fff;
}    
nav #present{
    border-bottom: 2px solid #303c98;
}
#nav a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-size: 20px;
    text-align: center;
    transition: .5s;
}
#nav a:hover{
    border-bottom: 2px solid #303c98;
}
section{
    min-height: 100vh;
}
#about-home{
    height: 180vh;
}
#about-back{
    height: 22%;
    background: url('/images/photo_1_2023-08-27_07-07-22_o5zhe4.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
#about-back h1{
    text-align: left;
    padding-top: 9%;
    margin-left: 10%;
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    border-bottom: 4px solid #fff;
    width: 6%;
}
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    
}
#text h3{
    font-size: 25px;
    color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 8px;
}
#text{
    background: #fff;
    margin-top: 0px;
}
#text a{
    margin-left: 0px;
}
#card{
    width: 420px;
    border-radius: 0px;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
#card img{
    width: 100%;
    height: auto;
}
#text{
    padding: 16px;
}
#text p{
    font-size: 15px;
    line-height: 1.3;
    color: black;
}
#cardbtn{
    background-color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    color: #fff;
}   
#cardbtn a{
    color: #fff;
}
#flex{
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}
footer{
    min-height: 55vh;
    padding: 0px 160px;
    display: flex;
    margin-top: 90px;
    overflow: hidden;
}
#comp1{
    
    height: 55vh;
    width: 400px;
    position: relative;
    align-items: start;
    display: flex;
    flex-direction: column;
}
#comp1 img{
    margin-top: 30px;
    width: 35%;
    height: 200px;
    
   
}
#medias{
    display: flex;

}
#social{
    
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 20px;
    transition: .5s;
    border: none;
}
#social:hover{
    background: #354a9a;
}
#comp1 h2{
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
}

#comp2{
   
    height: 55vh;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 0px;
    
    
}
#comp2 h3{
    font-size: 25px;
    margin-bottom: 50px;
    
}
#comp2 a{
    font-size: 18px;
    margin-top: 15px;
}
#comp2 #links{
   margin-left: 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0;
    align-items: start;
}
#links a{
    color: black;
}
#comp3{
   
    height: 55vh;
    width: 400px;
    position: relative;
    justify-content: left;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}
#comp3 h3{
    font-size: 25px;
    margin-bottom: 50px;
}
#info{
    font-size: 25px;
   
}
#info h2{
    font-size: 18px;
    margin-top: 35px;
    font-weight: 300;
    
}
#info i{
    color: black;
}
footer #top{
    position: absolute;
    width: 50px;
    color: black;
    font-size: 25px;
    line-height: 48px;
    border-radius: 5px;
   padding-top: 0%;
   margin-top: 20%;
   margin-left: 83%;
   text-align: center;
   background-color: #354a9a;
}
#foot{
    min-height: 10vh;
    justify-content: center;
    background: #404e85;
}
#gath{
    display: flex;
    padding: 10px;
    
}
#gath h2{
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    color: #fff;
    margin-left: 30px;
}
#gath #medias{
    margin-left: 550px;
}
#gath #medias i{
    color: #fff;
}